body {
    font-family: 'Martian Mono', monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    max-width: 1200px;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem;
}

header {
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

section {
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
    padding: 2rem;
}

button {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
    transition: box-shadow .2s ease;
    font-family: 'Martian Mono', monospace;
}

button:hover {
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

button:active {
    background-color:  rgb(201, 201, 201);
}

.list-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.create-article {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.create-article button {
    margin-top: 1rem;
}

.create-article>div {
    display: flex;
    justify-content: space-between;
}

#articleList {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.article {
    max-width: 250px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
}

.article img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid grey;
}

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}